/* styles.module.css */

.container-graph {
  display: flex;
  flex-direction: column;
  height: 85vh;
  margin-top: 15vh;
}
  
  .title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    /* writing-mode: rtl; */
  }
  
  .dropDownPickerContainer {
    width: 150px;
    position: absolute;
    margin: 10px;
    margin-top: 30px;
    right: 10px;
  }
  
  .dropDownPickerText {
    writing-mode: rtl;
    font-size: 15px;
  }
  
  .loadingContainer {
    margin-top: 20px;
    padding: 50px;
  }
  .title-graphs {
    padding: 7px;
    display: flex;
    font-size: 20px;
    text-align: right;
    background: #E0D9FE;
}
.title-graphs > div{
  width: 50%;
  padding-right: 11vh;

}
.body-graphs {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: inherit;
  align-items: center;
}
