.container-home {
    display: flex;
    flex-direction: column;
    height: 85vh;
    margin-top: 14vh;
}
.body-home {
    display: flex;
    flex-direction: row;
    /* align-content: space-around; */
    /* width: 100%; */
    justify-content: space-around;
    height: 80vh;
    align-content: center;
}
.body-home > div {
    align-self: center;
    border: 1px solid #E0D9FE;
    /* color: #E0D9FE; */
    padding: 2vh;
    border-radius: 10px;
    width: 16vw;
    height: 22vh;
    cursor: pointer;
}
.body-home > div > img {
    width: 16vw;
    height: 16vh;
}
.button-change-page{
    position: fixed;
    bottom: 12px;
    left: 12px;
    background-color: #1a1a1a;
    color: #f9f9f9;
    z-index: 999;
}
.laoding-data{
    opacity: 0.2;
    cursor: auto;
}