/* Connection.css */
.connection-container {
    position: relative;
    /* bottom: 20px; */
    right: 20px;
    cursor: pointer;
    z-index: 999;
    min-height: 50px;
  }
  
  .div-connection {
    display: flex;
    /* flex-direction: column; */
    /* position: fixed; */
    /* bottom: 72px; */
    right: -101px;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .div-connection img {
    width: 30px;
    height: 30px;
    margin: 5px;
    cursor: pointer;
  }
  
  .div-connection img:hover {
    filter: brightness(0.8);
  }
  