/* Connection.css */
.connection-container {
    position: relative;
    /* bottom: 20px; */
    right: 6px;
    cursor: pointer;
    /* z-index: 999; */
    min-height: 50px;
    display: flex;
    justify-content: space-around;
  }
  
  .div-connection {
    display: flex;
    /* flex-direction: column; */
    /* position: fixed; */
    /* bottom: 72px; */
    right: -101px;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .div-connection img {
    width: 30px;
    height: 30px;
    margin: 5px;
    cursor: pointer;
  }
  
  .div-connection img:hover {
    filter: brightness(0.8);
  }
  .container-msg{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    background: #0000003D;
    z-index: 9999;
    display: flex;
}
.msg-background{
  background-color: #FFFFFF;
  padding: 6vh 7vw;
  border-radius: 5vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 27vw;
  height: 50vh;
}
.input-msg{
  width: 100%;
    margin: 1vh 0;
}
.msg-to-phone{
  margin: 2vh 0;
}

.title-to-send-msg {
  text-align: center;
  font-size: 3vh;
  font-weight: bold;
}
.div-buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.close-write-msg{
  background: #ffff;
  color: #242424;
  border: 1px solid #242424;
}
.send-msg-whatsapp{
  color: #ffff;
  background: #242424;
}