.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 10px; 
    z-index: 1000; 
    display: flex;
    flex-direction: column;
  }
  .container-header{
    display: flex;
    width: 98vw;
    justify-content: space-between;
    margin: 0 2vw;
  }
  .header-image {
    height: 2.5vw;
    margin: 0 20px;
  }
  .logo-header{
    width: 10vw;
  }
  