body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.App {
  text-align: center;
  /* height: 88vh; */
  direction: rtl;
  width: 100vw;
}

.container {
  height: 90vh;
  display: flex;
  flex-direction: column;
}